body {
background-color: #2b1f6d;
text-align: center;
font-family: monospace;
}
h1 {
    color:#efc571;
    font-size: 45px;
    font-family: "源暎きわみゴ",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: #ebc67c;
    font-size: 36px;
    font-family: cursive;
}
h3,p{
color: #ebc67c;
    font-family: Arial, sans-serif;
}
h4{
    color: white;
    font-family: Arial, sans-serif;
}
.big{
    font-size: 68px;
}